@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary: #dba40e;
  --secondary: #4b5a20;
  --tertiary: #787d12;
  --quartary: #7e6e13;
  background-color: var(--primary) !important;
}

@layer components {
  .card {
    @apply max-w-[70ch] rounded-lg border border-gray-400 p-6 mb-6;
  }

  .link {
    @apply border-b border-blue-700 text-blue-700 hover:border-b-2 hover:border-blue-400 hover:text-blue-500;
  }
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('/laap.jpg');

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
